.formArea{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    align-content: space-between;
}

form{
    display: inline-block;
    margin: 30px;
    /* height: 200px; */
}

h5 {
    font-size: 12pt;
    font-weight: lighter;
    margin: 0pt;
    padding-bottom: 2px;
}

#name,
#email,
#txtArea {
    width: 100%;
    margin-bottom: 18px;
    background-color: rgb(255, 255, 255, 0.25);
    border: 1px solid #fff;
    border-radius: 4px;
    outline: #ff7882;
    font-size: 16px;
    font-weight: 500;
}

.nameWrapper{
    margin-top: 16px;
}

#txtArea {
    padding-bottom: 150px;
    
}

#name,
#email {
    padding: 8px;
}

#txtArea:focus{
   border: 2px solid  #fff;
   background-color:  #c8699e;
}

#name:focus{
    border: 2px solid  #fff;
    background-color: #fda34b;
}

#email:focus{
    border: 2px solid  #fff;
    background-color: #ff7882;
}

button{
    background-color: #ff7882;
    color: #fff;
    font-size: 11pt;
    font-weight: 700;
    padding: 16px 40px;
    border: none;
    border-radius: 40px;
    outline: none;
}

button:hover{
    background-color: #020f75;
}

textarea{
    padding: 8px;
    resize: none;
}


